@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bacad9;
}
.flex-r{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.flex-c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    width: 360px;
    height: 302px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    animation-name: pam ;
    animation-duration: 2s;
    gap: 20px 0px;
}


@keyframes pam{
    0%{
        background-color: blue;
    }
    50%{
        background-color:green;
    }
    100%{
        background-color:#fff;
    }
    
}

.card-name{
    font-size: 28px;
    font-weight: bold;
}

.card-role{
    color: #6d6d6d;
}


.avatar img{
   width: 100%;
   height: 100px;
   object-fit: cover;
   border-radius: 50%;
}

.card-footer{
    gap: 0px 30px;
}
.card-footer a i {
    color: black;
    font-size: 28px;
    background-color: #d3d3d3bd;
    padding: 10px;
    border-radius: 50%;
}

